<script>
        loadJS([], 'js/views/bus/index.js');
    </script>
<script type="text/javascript">
function bus_detail(val){
    document.location.href
}
</script>

    <div class='card single-card-view' >
        <div class='card-body'>
            <div class='col'>
                <h3 class='card-title mb-3'>운행중인 버스 목록</h3>
            </div>

            <table class='table table-hover'>
                <thead>
                    <tr>
                        <th scope='col' class='text-center'>Index</th>
                        <th scope='col' class='text-center'>버스번호</th>
                        <th scope='col' class='text-center'>담당 운전자</th>
                        <th scope='col' class='text-center'>착용률</th>
                    </tr>
                </thead>
                <tbody id='table-content' style="text-align: center">
                </tbody>
            </table>
            <nav aria-label='pa -navigation'>
                <ul class='pagination justify-content-end' id='pagination'>
                </ul>
            </nav>
            <table class='form'>
                <tbody>
                <tr class='data-row'>
                    <th scope='row' class='data-text busIndex'></th>
                    <td class='data-text busNum'></td>
                    <td class='data-text name'></td>
                    <td class='data-text rate' style='text-align: center'></td>
                </tr>
    
                </tbody>
            </table>
    
        </div>
    </div>